.content {
    display: flex;
}

.content-left {
    padding: 20px;
    float: left;
    margin: auto;
    max-width: 30%;
    flex: 30%;
    height: 100%;
}

.profile {
    border: 2px solid black;
    padding: 2px;
    background-color: rgb(176, 176, 176);
}

.content-left img {
    padding: 5px;
    display: block;
    margin: auto;
    height: 250px;
    width: 250px;
}

.content-left h3 {
    margin: auto;
    padding: 5px;
    text-align: center;
}

.content-right {
    padding: 20px;
    max-width: 70%;
    flex: 70%;
}

.content-right h2 {
    margin: auto;
    padding: 5px;
    float: center;
    text-align: center;
}

.top-games {
    width: 100%;
    margin: auto;
    float: right;
    text-align: center;
}

.games-display {
    width: 80%;
    margin: auto;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;
}

.games-display  img{
    height: 175px;
    width: 130px;
    padding: 5px;
    
}

.current-games {
    width: 100%;
    margin: auto;
    float: left;
    text-align: center;
}